In [37]:
import pandas as pd
#read the csv file as a dataframe
input_dataframe=pd.read_csv('Sample_input_data.csv')

In [38]:
#display the sample data
input_dataframe

        id  player_id type  amount  game_name
0        1       5000  bet  178.64      poker
1        2      52364  bet  441.49      poker
2        3   75698413  bet  325.18      poker
3        4    8642198  bet  400.05  blackjack
4        5       5000  win  239.56   roulette
...    ...        ...  ...     ...        ...
1001  1002     951753  bet  466.82  blackjack
1002  1003     654789  bet  376.74  blackjack
1003  1004     951753  bet   72.28  blackjack
1004  1005     654789  bet  102.53  blackjack
1005  1006     951753  bet  372.57   roulette

[1006 rows x 5 columns]

In [39]:
#change the amount column according to the type column (i.e if player has win it's counted as loss for casino)
input_dataframe.loc[input_dataframe.type=='win','amount']=-1*input_dataframe['amount']

In [40]:
#update the amount with the ante value according to the game played (i.e poker --> amount+2, blackjack --> amount+1) 
input_dataframe.loc[input_dataframe.game_name=='poker','amount']=input_dataframe['amount']+2
input_dataframe.loc[input_dataframe.game_name=='blackjack','amount']=input_dataframe['amount']+1

In [41]:
#remove unneccesary columns from the dataframe (pre-processing task)
clean_input_dataframe=input_dataframe[['player_id','amount']].copy()

In [42]:
#create a pivot table to show the individual player's contribution in casino's profit amount
casino_profit_table = clean_input_dataframe.pivot_table(index =['player_id'],
                       values =['amount'],
                       aggfunc ='sum')

In [43]:
#convert the pivot table into dataframe and add a new column which displays the individual player's contribution in casino's profit amount in percentage
casino_profit_dataframe=pd.DataFrame(data=casino_profit_table)
casino_profit_dataframe['profit_in_perc']=(casino_profit_dataframe['amount']/casino_profit_dataframe['amount'].sum())*100

In [44]:
#sort the dataframe in descending order according to percentage of contribution in total profit by individual player 
sorted_casino_profit_dataframe=casino_profit_dataframe.sort_values(by=['profit_in_perc'],ascending=False)

In [45]:
#display the top 10% of the total players which were most profitable for the casino
sorted_casino_profit_dataframe[:int(len(df4)/10)]

             amount  profit_in_perc
player_id
980444     18556.27       11.988653
52364      14105.59        9.113201
8691338    10560.70        6.822954